{% extends 'base.html.twig' %}

{% block body %}
<a href="/">List Articles</a><br/>
<h2>{{ article.headline }}</h2>
<p>{{ article.content }}</p>
<p>{{ article.creator }}&nbsp;&nbsp;{{ article.created|date('Y-m-d') }}</p>
<br/><br/><br/>
<h3>Comments:</h3>
<hr/>
{% for comment in comments %}

    {{ comment.comment}} - {{ comment.name }}<br/>
    <hr/>
{% endfor %}
<br/>
<form id="comment" name="comment" action="/comment/{{ article.id }}" method="POST">
<input type="text" size="60" name="name" placeholder="Name"/><br/>
<textarea rows="3" cols="58" name="comment" placeholder="Comment"></textarea><br/>
<input type="submit" value="Comment"/>
</form>
    
{% endblock %}
